
.productBox {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: space-around;
  z-index: 0;
}

.productBox > div {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
  padding: 16px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  width: 250px; /* Set a fixed width for each product box */
}

.productBox > div:hover {
  transform: scale(1.05);
}

.productBox img {
  max-width: 100%;
  height: 200px; /* Set a fixed height for the product images */
  object-fit: contain; /* Ensure the entire image is visible within its container */
  border-radius: 8px;
}

.productBox p {
  margin: 8px 0;
  font-size: 16px;
}

.productBox button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.productBox button:hover {
  background-color: #0056b3;
}
