<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <%- include('Common/Navbar') %>
    <h1>Hey I am About Page</h1>
    <% data.forEach(e=>{%>
    <li><%=e %></li>

    <%}) %>
  </body>
</html>
